[Desktop Entry]
Encoding=UTF-8
Name=Pfcredit
Comment=Pfcredit the Picfight wallet
Exec=pfcredit %U
Terminal=false
Type=Application
Icon=picfight
MimeType=x-scheme-handler/picfight;
Categories=Office;Finance;
