[Desktop Entry]
Encoding=UTF-8
Name=Pfcredit
Comment=Pfcredit the PicFight wallet
Exec=pfcredit %U
Terminal=false
Type=Application
Icon=decred
MimeType=x-scheme-handler/decred;
Categories=Office;Finance;
